spring:
  application:
    name: data-sync-tool  
  datasource:
    url: jdbc:mysql://172.20.209.11:33060/data_sync?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: NfWXHF9xeikrswerA3yb
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
  servlet:
    context-path: /ilido-data-sync-tool
